@charset "utf-8";

/* color palette:
#CB7678 - salmon
#A71A5A - pink
#95D3DE - blue
#E1EDED - off-white */

/* header */
header {
    background-color: #000;
    padding: 20px 0;
}

nav ul {
    /* remove dots */
    list-style: none;
    /* same line */
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    color: #E1EDED;
    padding: 0;
}

nav ul li a {
    /* remove underline */
    text-decoration: none;
    color: #E1EDED;
    font-weight: bold;
}

li a:hover {
    text-decoration: underline;
}

/* home */
/*first div inside main*/
main > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* center */
    align-items: center;
    /* defining the height for this area and centralize the picture in the center */
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

/* the div inside the first div in the main */
main > div:first-of-type > div:first-child {
    height: 80vh;
    /*80 to the image and 20 to title*/
    display: flex;
    justify-content: center;
}

/* the img inside main and first div */
main > div:first-of-type img {
    height: 100%;
    /* img follow the parent height */
    width: auto;
    display: block;
}

/* changing style for home texts */
main > div:first-of-type h1,
main > div:first-of-type h3 {
    text-align: center;
    margin: 5px 0;
    text-transform: uppercase;
    color: #CB7678;
}

/* footer */
footer {
    background-color: #CB7678;
}