@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
/* color palette:
#CB7678 - salmon
#A71A5A - pink
#46C7E0 - blue
#E1EDED - off-white */

* {
    font-family: "Libre Franklin", sans-serif;
}

/* header */
header {
    /* opacity style */
    background-color: rgba(0, 0, 0, 0.7);
    /* blur the background-color */
    backdrop-filter: blur(10px);
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    /* remove dots */
    list-style: none;
    /* same line */
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    color: #E1EDED;
    padding: 0;
}

nav ul li a {
    /* remove underline */
    text-decoration: none;
    color: #E1EDED;
    font-weight: bold;
}

li a:hover {
    text-decoration: underline;
}

/* home */
main {
    padding-top: 10px;
    background-color: #000;
    color: #E1EDED;
    margin-bottom: 0px;
}

/* setence style */
/* refers to the second div in the main */
main>div:nth-of-type(2) {
    background-color: #CB7678;
    color: #E1EDED;
    overflow: hidden; /* hide the text when overflow the page*/
    white-space: nowrap; /*dont break the line*/
    padding: 25px 0;
    display: flex;
}

strong{
    color: #C6EBEF;
}

main > div:nth-of-type(2) p {
    display: inline-block;
    padding-left: 100%; /*start the text 50% behind the screen*/
    font-size: 18px;
    margin: 0;
    color: #E1EDED;
    word-spacing: 4px;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
    
    /*  animation with css*/
    animation: sign 40s linear infinite;
}

/*animation*/
@keyframes sign{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*first div inside main*/
main>div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* center */
    align-items: center;
    /* defining the height for this area and centralize the picture in the center */
    height: 100vh;
    width: 100%;
    overflow: visible;
    background-color: #000;
}

/* the div inside the first div in the main */
main>div:first-of-type>div:first-child {
    height: 80vh;
    /*70 to the image and 30 to title*/
    display: flex;
    justify-content: center;
}

/* the img inside main and first div */
main>div:first-of-type img {
    height: 100%;
    /* img follow the parent height */
    width: auto;
    margin-top: 0.5rem;
    display: block;
}

/* changing style for home texts */
main>div:first-of-type h1,
main>div:first-of-type h3 {
    text-align: center;
    margin: 5px 0;
    text-transform: uppercase;
}

main > div:first-of-type h1 {
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 900;
    font-family: 'Libre Franklin', sans-serif;
    color: #E1EDED;
}

main > div:first-of-type h3 {
    color: #46C7E0;
    letter-spacing: 10px;
    font-size: 1rem;
}

main>div:nth-of-type(5) div p {
    /* remove the margin between the main and footer content */
    margin-bottom: 0px;
}

/* about */
/* video style */
main > div:nth-of-type(3) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 80px 10% ;
    background-color: #000;
}

iframe{
    border-radius: 5px;
}

main > div:nth-of-type(3) p {
    flex: 1;
    min-width: 300px;
    line-height: 1.8;
    color: #E1EDED;
    font-size: 1.1rem;
}


/* lyrics */
main > div:nth-of-type(4) {
    background-image: url('../image/harry-background.jpeg');
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0; 
    display: flex;
    justify-content: center;
}

/* lyrics card */
main > div:nth-of-type(4) > div {
    background-color: rgba(203, 118, 120, 0.8);
    /* blur effect */
    backdrop-filter: blur(5px);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgba(225, 237, 237, 0.2);
}


main > div:nth-of-type(4) h5 {
    color: #E1EDED;
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 30px;
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;
}


main > div:nth-of-type(4) p {
    /* keep the html break lines */
    white-space: pre-line;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #E1EDED;
    margin-bottom: 20px;
}

/* harry style */
/* references: https://dev.to/jh3y/circular-text-with-css-57jf */
/* https://youtu.be/xA407w7gRSI?si=SgogrofLd-elAm62 */

/* container circle */
main > div:nth-of-type(5) > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding: 4vh 10vh;
    position: relative;
}

/* svg style */
main > div:nth-of-type(5) svg {
    /* animation to spin */
    animation: spin 15s linear infinite; 
}

main > div:nth-of-type(5) svg text {
    fill: #E1EDED; 
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* spin animation*/
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

main > div:nth-of-type(5) div:nth-of-type(1) p{
    padding-left: 10vh;
    padding-right: 20vh;
    line-height: 1.6;
    font-size: 1.1rem;
}


/* footer */
footer {
    background-color: #CB7678;
    text-align: center;
    margin-top: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer p {
    margin: 0px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: 'Libre Franklin', sans-serif;
    color: #E1EDED;
}