@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
/* color palette:
#CB7678 - salmon
#A71A5A - pink
#95D3DE - blue
#E1EDED - off-white */

* {
    font-family: "Libre Franklin", sans-serif;
}

/* header */
header {
    background-color: #000;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    /* remove dots */
    list-style: none;
    /* same line */
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    color: #E1EDED;
    padding: 0;
}

nav ul li a {
    /* remove underline */
    text-decoration: none;
    color: #E1EDED;
    font-weight: bold;
}

li a:hover {
    text-decoration: underline;
}

/* home */
main {
    padding-top: 10px;
    background-color: #000;
    color: #E1EDED;
    margin-bottom: 0px;
}

/* setence style */
/* refers to the second div in the main */
main>div:nth-of-type(2) {
    background-color: #CB7678;
    color: #E1EDED;
}

main>div:nth-of-type(2) p {
    margin: 0;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*first div inside main*/
main>div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* center */
    align-items: center;
    /* defining the height for this area and centralize the picture in the center */
    height: 100vh;
    width: 100%;
    overflow: visible;
    background-color: #000;
}

/* the div inside the first div in the main */
main>div:first-of-type>div:first-child {
    height: 80vh;
    /*70 to the image and 30 to title*/
    display: flex;
    justify-content: center;
}

/* the img inside main and first div */
main>div:first-of-type img {
    height: 100%;
    /* img follow the parent height */
    width: auto;
    display: block;
}

/* changing style for home texts */
main>div:first-of-type h1,
main>div:first-of-type h3 {
    text-align: center;
    margin: 5px 0;
    text-transform: uppercase;
    color: #CB7678;
    font-family: "Galindo", sans-serif;
}

main>div:nth-of-type(5) div p {
    /* remove the margin between the main and footer content */
    margin-bottom: 0px;
}


/* video style */
/* fixed when scroll the page */
iframe {
    position: sticky;
    top: 20px;
    width: 100%;
    max-width: 560px;
    height: 315px;
}


/* footer */
footer {
    background-color: #CB7678;
    text-align: center;
    margin: 0px;
    height: 10vh;
}

footer p {
    margin: 0px;
}