@charset "UTF-8";

/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*reset css*/
* {
    margin: 0;
    padding: 0;
}

body {
    /*background and gradient*/
    background-color: #0a0a0c;
    /* dark gradient */
    background-image:
        /* 135deg */
        linear-gradient(315deg, rgba(255, 0, 127, 0.1) 0%, transparent 40%),
        linear-gradient(135deg, rgba(112, 0, 255, 0.1) 0%, transparent 40%);
    /* font */
    color: #fff;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

h1 {
    font-family: "Oswald", sans-serif;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
    color: #fff;
}

a {
    color: #fff;
}



/* header */
header {
    padding: 8rem 4rem;
    background: linear-gradient(180deg, rgba(255, 0, 127, 0.05) 0%, transparent 100%);
    text-align: center;
}

/* title */
header h1 {
    font-size: 5.5rem;
    letter-spacing: 0.08em;
    line-height: 1;
    text-transform: uppercase;
    /*gradient text*/
    /* https://www.w3schools.in/css3/gradient-text */
    background: linear-gradient(90deg, #ff007f, #ff85c1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    margin-bottom: 1rem;
}


header h2 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: #ffd2e9;
}


/* navbar */
nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 1rem 2rem;
    background: rgba(10, 10, 12, 0.8);
    width: 100%;
    height: 5%;
}


nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-top: 0.2rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    color: #ff007f;
    /*https://www.w3schools.com/css/css_text_shadow.asp*/
    text-shadow: 0 0 8px rgba(255, 0, 127, 0.6);
}

/*main*/
main {
    padding: 4rem 8rem;
}

article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;

}

main li {
    margin-left: 1rem;
}

/* quote */
blockquote {
    padding: 2rem 1.4rem;
    border-left: 5px solid #ff007f;
    margin: 2rem 0;
}

blockquote p {
    line-height: 1.3;
}


/* buttons */
.link-github,
.link-guidelines,
[class^="link-download"],
.link-codepen {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1.2rem 0rem;
    background: #ff007f;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ff007f;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.3s;
}


.link-github,
.link-guidelines {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

/* star svg */
svg {
    width: 18px;
    height: 18px;
    fill: #fff;
}


/* hover */
.link-github:hover,
.link-guidelines:hover,
[class^="link-download"]:hover,
.link-codepen:hover {
    border: 2px solid #ff007f;
    background: transparent;
    color: #fff !important;
    box-shadow: 0 0 20px rgba(255, 0, 127, 0.4);
}

/*aside*/
aside {
    max-width: 320px;
    margin: 3rem auto;
    padding: 2rem;
    border: 2px solid #ff007f;
}

aside h2, aside h4{
    font-size: 1.5rem;
    margin-bottom: 1rem !important;
    text-transform: uppercase;
}


/* footer */
.page-footer {
    margin-top: 10rem;
    padding: 5rem 6rem;
    background: #000;
    border-top: 1px solid #ff007f;
}

.page-footer p {
    font-size: 0.8rem;
    color: #666;
}

.page-footer li {
    list-style: none;
}

/* animation */
/* https://blog.hubspot.com/website/css-fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main,
aside {
  animation: fadeIn 1.5s ease forwards;
}

header {
  animation: fadeIn 4s ease forwards;
}