@charset "utf-8";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

/* centralize table */
main {
    padding: 0 1rem;
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    padding: auto;
}

caption {
    caption-side: top;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
}

/* cells */
td,
th {
    border: 1px solid #d0d7de;
    padding: 1rem 0.8rem;
    text-align: center;
}

/* striping rows */
tbody tr:nth-child(even) {
    background-color: #eaeaea;
}

/* team column align left */
tbody td:nth-child(2) {
    text-align: left;
    font-weight: 600;
}

/* header color */
thead th {
    background: #b5b5b5;
    cursor: pointer;
}

td img {
    width: 3rem;
    vertical-align: middle;
    margin-right: 4px;
}

