@charset "utf-8";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Roboto", sans-serif;
    background: #f4f6f9;
}

/* centralize table */
main {
    max-width: 1200px;
    margin: auto;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

