@charset "utf-8";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Questrial&family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-color: #F0EEEF;
}

h2{
    font-family: "Playfair Display", serif;
    text-transform: lowercase;
}

/* header */
header {
    display: flex;
    /* h1 and p together to change the order and show the date first*/
    /* https://www.w3schools.com/cssref/css3_pr_flex-direction.php */
    flex-direction: column-reverse;
    padding: 0 2rem;
    align-items: flex-start;
}

/* page date */
header p {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 2rem;
    font-size: 2.6vh;
}

/* page title */
header h1 {
    color: #f46c21;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    text-transform: lowercase;
    font-size: 30vh;
    margin: 0;
    letter-spacing: -2vh;
    word-spacing: 3rem;
    line-height: 1;
}

/* main content */
main {
    /*define as grid to create 2 columns*/
    display: grid;
    /*1 column image width and 2 the remaining space */
    grid-template-columns: auto 1fr;
    align-items: start;
    margin: 0 auto;
}

/*all the asides in the same column*/
aside {
    grid-column: 1;
}

/*all the sections in the second column*/
section {
    grid-column: 2;
    max-width: 80%;
    margin: 0;         /* Garante que não há margem externa */
    padding-top: 5px;  /* Espaço entre a linha colorida e o título */
    padding-bottom: 5px
}


/* sections and borders */
section:nth-of-type(1){
    border-top: 1rem solid #70A038;
}

section:nth-of-type(2){
    border-top: 1rem solid #DD297C;
}

section:nth-of-type(3){
    border-top: 1rem solid #06A0B8;
}

aside:first-of-type {
    /* first aside- image in the top*/
    grid-column: 1;
    /* the aside will cover all three sections related to the right column */
    grid-row: 1 / span 4;
}

aside:last-of-type {
    grid-column: 1;
    grid-row: 3;
    border: 2px solid #f46c21;
    margin: 2rem;
    margin-top: 10rem;
    padding: 1rem;
}

img {
    max-width: 80vh;
    height: auto;
}

/* footer */
footer{
    text-align: end;
    padding: 2rem;
}