@charset "utf-8";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F0EEEF;
    font-family: "Roboto Slab", serif;
}

h2 {
    font-family: "Playfair Display", serif;
    text-transform: lowercase;
    margin: 0;
    font-weight: 400;
    font-size: 3.5rem;

}

/* header */
header {
    display: flex;
    /* h1 and p together to change the order and show the date first*/
    /* https://www.w3schools.com/cssref/css3_pr_flex-direction.php */
    flex-direction: column-reverse;
    padding: 0 2rem;
    align-items: flex-start;
}

/* page date */
header p {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 2rem;
    font-size: 2.6vh;
}

/* page title */
header h1 {
    color: #f46c21;
    font-weight: 300;
    text-transform: lowercase;
    font-size: 30vh;
    margin: 0;
    letter-spacing: -2vh;
    word-spacing: 3rem;
    line-height: 1;
}

/* main content */
main {
    /*define as grid to create 2 columns*/
    display: grid;
    /*1 column image width and 2 the remaining space */
    grid-template-columns: auto 1fr;
    align-items: start;
    margin: 3rem auto 0 auto;
    position: relative;
}

/*all the asides in the same column*/
aside {
    grid-column: 1;
}

/*all the sections in the second column*/
section {
    grid-column: 2;
    max-width: 75%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* sections and borders */
section:nth-of-type(1) {
    border-top: 1rem solid #70A038;
}

section:nth-of-type(2) {
    border-top: 1rem solid #DD297C;
}

section:nth-of-type(3) {
    border-top: 1rem solid #06A0B8;
}

aside:first-of-type {
    /* first aside- image in the top*/
    grid-column: 1;
    /* the aside will cover all three sections related to the right column */
    grid-row: 1 / span 4;
}

aside:last-of-type {
    grid-column: 1;
    grid-row: 3;
    border: 2px solid #f46c21;
    margin: 2rem;
    margin-top: 22rem;
    margin-left: 6rem;
    padding: 1.5rem;
    display: block;
}


aside:last-of-type p,
aside:last-of-type ol li {
    display: block;
    margin: 0.5rem 0;
    text-align: left;
}

aside:last-of-type ol {
    list-style-position: inside;
    padding-left: 0;
}


img {
    max-width: 80vh;
    height: auto;
}

/* image texts */
aside:first-of-type figure {
    position: relative;
    line-height: 0;
}

aside:first-of-type figcaption {
    position: absolute;
    bottom: 5%;
    left: 22%;
    color: white;
    line-height: 1.2;
    /* in the top */
    z-index: 2;
}

aside:first-of-type figcaption em {
    display: block;
    font-style: normal;
    font-size: 16vh;
    font-weight: 300;
    line-height: 0.8;
}

aside:first-of-type figcaption p:first-of-type {
    margin: 0;
    padding: 0 8px;
    display: block;
    font-size: 2.5vh;
    max-width: 31vh;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* second p figure caption */
aside:first-of-type figcaption p:last-child {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    z-index: 800;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
    top: 65vh;
    left: -9rem;
    white-space: nowrap;
    word-spacing: 4px;
}

/* aside content */

section ol li {
    /* list item to show the value */
    display: list-item;
    list-style-position: outside;
    /* space to show the value */
    margin-left: 1.5rem;
    padding-left: 0.5rem;
}

section ol li::marker {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
}


section ol li p {
    display: inline;
    margin: 0.2rem;
    /* 0 top, 0 right, 0 bottom and 5px left */
    font-weight: 400;
}

section ol li h3 {
    display: inline;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    padding: 2rem 0 0 0;
}

section:nth-of-type(1) ol li h3 {
    color: #70A038;
}

section:nth-of-type(2) ol li h3 {
    color: #DD297C;
}

section:nth-of-type(3) ol li h3 {
    color: #06A0B8;
}



/* footer */
footer {
    text-align: end;
    padding: 2rem;
}